html {
    scroll-behavior:smooth;
}
  
body {
    margin:0;
    background-image: url('assets/pixelartbackground.jpeg');
    background-size: 300px;
    color:aliceblue;
    font-family: 'Silkscreen', cursive;
    font-size: small;
    
}

nav {
    display:flex; 
    justify-content:space-between; 
    padding:15px;
    background-color:#1c082e;
}

header {
    display:grid;
    grid-template-columns: 10% 10% 80%;
    margin-top: 10px;
    padding:15px;
    background-color:#1c082e;
}

.foguete {
    position: fixed;
    margin-top: 50px;
    margin-left: 10px;
    z-index: 1;
}

.ind_foguete {
    text-align: center;
    margin-top:20%;
    font-size:large
}

img.seta {
    height: 29px;
}

h1 {
    font-size: 600%;
    padding-left: 10%;
    font-family: 'vt323',monospace;
}


h2 {
    font-size: 500%;
    padding-left: 38%;
    padding-top: 3%;
    font-family: 'vt323',monospace;
}

h3{
    padding-left:20%;
}

.title {
    align-items:  center;
}

a {
    color:#FFF; 
    text-decoration: none;
}

section.planetas {
    justify-content: space-between;
    display:flex;
    align-items: center;
    margin:5%;
}

.trivia {
    background-color: #1c082e;
    height: 300px;
    margin-left: 2%;
    margin-right: 2%
}

img.S1 {

    left:170px;
    top: 750px;
    position: absolute;
    
   
}

.Tsol {
    left: 40%;
    top: 850px;
    position: absolute;
    justify-self: auto;
}

img.M1 {
    left: 260px;
    top: 1270px;
    position: absolute;
    
}

.Tmer {
    left:40%;
    top: 1240px;
    position: absolute;
    justify-self: auto;
}

img.V1{

    left: 245px;
    top: 1630px;
    position: absolute;
    
}

.Tven {
    left: 40%;
    top: 1630px;
    position: absolute;
    justify-self: auto;
}

img.T1 {
    left: 235px;
    top: 1990px;
    position: absolute;
  
}

.Tter {
    left: 40%;
    top: 2025px;
    position: absolute;
    justify-self: auto;
}

img.MA1{
    left: 255px;
    top: 2430px;
    position: absolute;
    
}

.Tmar {
    left:  40%;
    top: 2425px;
    position: absolute;
    justify-self: auto;
}

img.J1{
    left: 225px;
    top: 2800px;
    position: absolute;
   
}

.Tjup {
    left: 40%;
    top: 2820px;
    position: absolute;
    justify-self: auto;

}

img.SA1 {

    left: 215px;
    top: 3190px;
    position: absolute;
    
}

.Tsat {
    left:  40%;
    top: 3210px;
    position: absolute;
    justify-self: auto;
}

img.U1 {

    left: 249px;
    top: 3610px;
    position: absolute;
   
}

.Tura {
    left:  40%;
    top: 3600px;

    position: absolute;
    justify-self: auto;
}

img.N1 {

    left: 243px;
    top: 4000px;
    position: absolute;
    
}

.Tnet {
    left:  40%;
    top: 4000px;
    position: absolute;
    justify-self: auto;
}

.teste{
    background-color: #1c082e;
    height: 300px;
    border-radius: 25px;
}


.footer_1{
    background-color: #1c082e;
    text-align: center;
    font-size: 24px;
}

.footer_2 {
    display: flex;
    justify-content: space-between; 
    margin-left: 10px; 
    margin-right: 10px;
}

.conteudo_footer {
    background-color: #1c082e; 
    width: 20%; 
    text-align: center;
    padding-top: 1%;
}

#animacao {
    position:relative;
}

#animacao:hover {top:-3px;box-shadow:0 2px 2px #7d42b0}

img.inverter {
    transform:scalex(-1)
}

.DR {
    text-align: center;
}

.conteiner {
    background-image: url('assets/pixelartbackground.jpeg');
    background-size: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    border: none;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20% ;
    margin-right: 20%;
}
  
.questoes-conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
  
.questao {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
  
.resposta-conteiner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
  
.resposta:disabled {
    cursor: not-allowed;
}
  
.proxima-questao {
    margin-top: 32px;
}
  
.button {
    background-color: #1c082e;
    color: #fff;
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    height: 48px;
    padding: 0 32px;
    transition: filter 0.1s;
}

button:hover {
    filter: brightness(1.5);
}

.hide {
    display: none;
}

.correct{
    background-color: #049b04;
}

.incorrect{
    background-color: crimson;
}

.mensagem-final{
    font-size: 20px;
    text-align: center;

}

.mensagem-final span{
    display: block;
    margin-top: 8px;
}

.botton-rgb{
    content: "";
    font-family: 'Silkscreen', cursive;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    height: 48px;
    padding: 0 32px;
    transition: filter 0.1s;
    background:linear-gradient(45deg,  #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
    background-size: 250%;
    animation: AnimarBorda 15s linear infinite;
}


@keyframes AnimarBorda{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 300%;
    }
}
