html {
    scroll-behavior:smooth;
}
  
body{
    margin:0;
    background-image: url('assets/pixelartbackground.jpeg');
    background-size: 300px;
    color:aliceblue;
    font-family: 'Silkscreen', cursive;
    font-size: small;
    
}

nav{
    display:flex; 
    justify-content:space-between; 
    padding:15px;
    background-color:#1c082e;
}

header{
    display:grid;
    grid-template-columns: 10% 10% 80%;
    margin-top: 10px;
    padding:15px;
    background-color:#1c082e;
}

.foguete{
    position: fixed;
    margin-top: 50px;
    margin-left: 10px;
}

.ind_foguete{
    text-align: center;
    margin-top:20%;
    font-size:large
}

img.seta{
    height: 29px;
}

h1{
    font-size: 600%;
    padding-left: 10%;
    font-family: 'vt323',monospace;
}

h3{
    padding-left:20%;
}

.title{
    align-items:  center;
}

a{
    color:#FFF; 
    text-decoration: none;
}

section.planetas{
    justify-content: space-between;
    display:flex;
    align-items: center;
    margin:5%;
}

.trivia{
    background-color: #1c082e;
    height: 300px;
    border-radius: 25px;
}

img.S1{
    left: 60px;
    top: 680px;
    position: absolute;
    width:230px; 
    height:230px;
}

.Tsol{
    left: 502px;
    top: 730px;
    position: absolute;
    justify-self: auto;
}

img.M1{
    left: 160px;
    top: 1080px;
    position: absolute;
    width:50px; 
    height:50px;
}

.Tmer{
    left:502px;
    top: 1060px;
    position: absolute;
    justify-self: auto;
}

img.V1{
    left: 130px;
    top: 1380px;
    position: absolute;
    width:120px; 
    height:120px;
}

.Tven{
    left: 502px;
    top: 1400px;
    position: absolute;
    justify-self: auto;
}

img.T1{
    left: 120px;
    top: 1690px;
    position: absolute;
    width:155px; 
    height:155px;
}

.Tter{
    left: 502px;
    top: 1720px;
    position: absolute;
    justify-self: auto;
}

img.MA1{
    left: 140px;
    top: 2040px;
    position: absolute;
    width:120px; 
    height:120px;
}

.Tmar{
    left: 502px;
    top: 2030px;
    position: absolute;
    justify-self: auto;
}

img.J1{
    left: 100px;
    top: 2335px;
    position: absolute;
    width:210px; 
    height:210px;
}

.Tjup{
    left: 502px;
    top: 2360px;
    position: absolute;
    justify-self: auto;

}

img.SA1{
    left: 120px;
    top: 2660px;
    position: absolute;
    width:220px; 
    height:220px;
}

.Tsat{
    left: 502px;
    top: 2710px;
    position: absolute;
    justify-self: auto;
}

img.U1{
    left: 140px;
    top: 3020px;
    position: absolute;
    width:150px; 
    height:150px;
}

.Tura{
    left: 502px;
    top: 3050px;
    position: absolute;
    justify-self: auto;
}

img.N1{
    left: 120px;
    top: 3350px;
    position: absolute;
    width:180px; 
    height:180px;
}

.Tnet{
    left: 502px;
    top: 3370px;
    position: absolute;
    justify-self: auto;
}


.teste{
    background-color: #1c082e;
    height: 300px;
    border-radius: 25px;
}


.footer_1{
    background-color: #1c082e;
    text-align: center;
    font-size: 24px;
}

.footer_2{
    display: flex;
    justify-content: space-between; 
    margin-left: 10px; 
    margin-right: 10px;
}

.conteudo_footer{
    background-color: #1c082e; 
    width: 20%; 
    border-radius: 25px;
    text-align: center;
}

.DR{
    text-align: center;
}

.conteiner {
    background-image: url('assets/fundogalaxy.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
  
    border: 2px solid #e1e1e6;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 0 0 2px 2px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  .questoes-conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
  
  .questao {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
  
  .resposta-conteiner {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
  
  .resposta:disabled {
    cursor: not-allowed;
}
  
  .proxima-questao {
    margin-top: 32px;
}
  
  .button {
    background-color: #1c082e;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
    transition: filter 0.1s;
}

  .button:hover{
    filter: brightness(1.5);
}

.hide {
    display: none;
}
